Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2018-02, with the labels that each got.

#749 Fix for : File provider is preventing the app from launching on earlier Android versions
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/OFFApplication.java
Labels: bug

#758 fix #734 App crashes on taping on the image of products
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/FullScreenImage.java
  app/src/main/res/layout/activity_full_screen_image.xml
Labels: bug

#759 fix #Bug on getting back from findProductFragment to homeFragment
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
Labels: bug

#760 login issue
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
Labels: login

#791 Remove Cards In History
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/holders/HistoryScanHolder.java
  app/src/main/res/layout/history_list_item.xml
Labels: history

#786 Add option to add a product if there are no search results
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SearchProductsResultsFragment.java
  app/src/main/res/layout/fragment_search_products_results.xml
  app/src/main/res/values/strings.xml
Labels: product-addition

#779 fix #486 #185 share icon size ,colour & share functionality
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductActivity.java
  app/src/main/res/drawable/ic_share_black_24dp.xml
  app/src/main/res/menu/menu_product.xml
Labels: product-browsing, ux

#789 fix #535 Add a message saying only 1 photo is compulsory
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
  app/src/main/res/drawable-hdpi/ic_action_cross.png
  app/src/main/res/drawable-hdpi/ic_action_name.png
  app/src/main/res/drawable-mdpi/ic_action_cross.png
  app/src/main/res/drawable-mdpi/ic_action_name.png
  app/src/main/res/drawable-xhdpi/ic_action_cross.png
  app/src/main/res/drawable-xhdpi/ic_action_name.png
  app/src/main/res/drawable-xxhdpi/ic_action_cross.png
  app/src/main/res/drawable-xxhdpi/ic_action_name.png
  app/src/main/res/layout/activity_save_product_offline.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Labels: onboarding, product-addition, ux

#804 Convert shortcut icons to VectorDrawables
  app/src/main/res/drawable-hdpi/ic_shortcut_contributions.png
  app/src/main/res/drawable-hdpi/ic_shortcut_history.png
  app/src/main/res/drawable-hdpi/ic_shortcut_scan.png
  app/src/main/res/drawable-hdpi/ic_shortcut_search.png
  app/src/main/res/drawable-mdpi/ic_shortcut_contributions.png
  app/src/main/res/drawable-mdpi/ic_shortcut_history.png
  app/src/main/res/drawable-mdpi/ic_shortcut_scan.png
  app/src/main/res/drawable-mdpi/ic_shortcut_search.png
  app/src/main/res/drawable-xhdpi/ic_shortcut_contributions.png
  app/src/main/res/drawable-xhdpi/ic_shortcut_history.png
  app/src/main/res/drawable-xhdpi/ic_shortcut_scan.png
  app/src/main/res/drawable-xhdpi/ic_shortcut_search.png
  app/src/main/res/drawable-xxhdpi/ic_shortcut_contributions.png
  app/src/main/res/drawable-xxhdpi/ic_shortcut_history.png
  app/src/main/res/drawable-xxhdpi/ic_shortcut_scan.png
  app/src/main/res/drawable-xxhdpi/ic_shortcut_search.png
  app/src/main/res/drawable-xxxhdpi/ic_shortcut_contributions.png
  app/src/main/res/drawable-xxxhdpi/ic_shortcut_history.png
  app/src/main/res/drawable-xxxhdpi/ic_shortcut_scan.png
  app/src/main/res/drawable-xxxhdpi/ic_shortcut_search.png
  app/src/main/res/drawable/ic_center_focus_weak_blue_24dp.xml
  app/src/main/res/drawable/ic_history_blue_24dp.xml
  app/src/main/res/drawable/ic_rate_review_blue_24dp.xml
  app/src/main/res/drawable/ic_search_red_24dp.xml
  app/src/main/res/drawable/ic_shortcut_contributions.xml
  app/src/main/res/drawable/ic_shortcut_history.xml
  app/src/main/res/drawable/ic_shortcut_scan.xml
  app/src/main/res/drawable/ic_shortcut_search.xml
Labels: graphic assets

#835 added forgot password link
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoginActivity.java
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/values/strings.xml
Labels: account management

#863 New Crowdin translations
  app/src/main/res/values-fr/strings.xml
Labels: translations

#794 fix issue #484 (Remove image when no data in nutrient levels)
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/NutritionProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/NutrientLevelListAdapter.java
Labels: nutrition-facts, product-browsing

#869 Fixes #813 Add Intro Screens
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/PrefManager.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SplashActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/WelcomeActivity.java
  app/src/main/res/drawable/ic_aeroplane.xml
  app/src/main/res/drawable/ic_barcode.xml
  app/src/main/res/drawable/ic_idea.xml
  app/src/main/res/layout/activity_welcome.xml
  app/src/main/res/layout/welcome_slide1.xml
  app/src/main/res/layout/welcome_slide2.xml
  app/src/main/res/layout/welcome_slide3.xml
  app/src/main/res/layout/welcome_slide4.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/obf/res/drawable/history.png
  app/src/obf/res/values/strings.xml
  app/src/off/res/drawable/history.png
  app/src/off/res/values/strings.xml
  app/src/opff/res/drawable/history.png
  app/src/opff/res/values/strings.xml
Labels: onboarding

#821 Fixes #755 Option for deleting a particular item in History
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/SwipeController.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/SwipeControllerActions.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
Labels: history

#811 Hide layout and reformat code
  app/src/main/res/layout/fragment_search_products_results.xml
Labels: search, ux

#870 fix issue #260 - Display additives as a structured list #260
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/IngredientsProductFragment.java
Labels: additives, product-browsing

#744 Fixes #631 (Added confirmation before logging out)
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
Labels: account management, ux

#757 Fixes #565 Analyse lint errors
  .travis.yml
  app/build.gradle
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Additive.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/NutrimentLevel.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/ProductImageField.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/res/drawable/ic_add_a_photo.xml
  app/src/main/res/drawable/ic_done_all.xml
  app/src/main/res/drawable/ic_photo_library.xml
  app/src/main/res/layout/custom_spinner_dropdown_item.xml
  app/src/main/res/values/strings.xml
Labels: linting

#880 New Crowdin translations
  app/src/main/res/values-da/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/obf/res/values-ru/strings.xml
  app/src/off/res/values-da/strings.xml
  app/src/off/res/values-ru/strings.xml
  app/src/opff/res/values-ru/strings.xml
Labels: translations

#883 Fixed #882: frozen camera preview
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/BarCodeScannerFragment.java
Labels: scanning

#892 Fixed #827: missing photo and barcode for Products in the Offline edit view.
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
Labels: offline

#893 Product not found toast in search should be removed
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
Labels: search

#891 Add Swipe to refresh in SearchProductsResultsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SearchProductsResultsFragment.java
  app/src/main/res/layout/fragment_search_products_results.xml
Labels: feature, search

#894 Fix text size
  app/src/main/res/layout/welcome_slide1.xml
  app/src/main/res/layout/welcome_slide2.xml
  app/src/main/res/layout/welcome_slide3.xml
  app/src/main/res/layout/welcome_slide4.xml
  app/src/main/res/values/dimens.xml
Labels: usability

#911 Fixed #267 : Add a way to contact the team
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Labels: enhancement

#833 Fixes #829: Improved offline uploadAll button layout
  app/src/main/res/layout/fragment_offline_edit.xml
Labels: ux

#918 fixes #917 App is getting crash due to java.lang.RuntimeException on …
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/WelcomeActivity.java
Labels: bug

#915 Fixed #461 : Include timestamp in history
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/HistoryItem.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/HistoryListAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/holders/HistoryScanHolder.java
  app/src/main/res/drawable/ic_history_grey_24dp.xml
  app/src/main/res/layout/history_list_item.xml
Labels: history

#927 Issue #924: save button should be disabled when saving
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
  app/src/main/res/values/strings.xml
Labels: offline

#926 Fixed #923: warning when uploading offline edits with airplane mode/ offline
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/res/values/strings.xml
Labels: offline

#929 Fixed #928
  app/src/main/res/layout/history_list_item.xml
Labels: history

#913 changed logo size #912
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/values/dimens.xml
Labels: home

#931 fixes #930 In AlertUserFragment we're only abstracting english and french allergens from AllergenDao
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AlertUserFragment.java
Labels: allergens

#910 Add EMB Codes
  app/build.gradle
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/DatabaseHelper.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/PackagerCodes.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Tag.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SplashActivity.java
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values/strings.xml
Labels: product-browsing

#935 Fixes #934: Improved UI of history list item
  app/src/main/res/layout/history_list_item.xml
Labels: history

#936 Fixed #933: drawer items selected at wrong times corrected
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
Labels: home

#937 Fixed #70: keyboard is hidden when nav drawer is displayed
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
Labels: usability, ux

#932 Fixed #498
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/BarCodeScannerFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
Labels: offline, product-addition

#957 fixed #954 Upload All visual Glitch Solved
  app/src/main/res/drawable/ic_done_all.xml
Labels: ux

#958 Fixes #368: Rephrased allergy warning
  app/src/main/res/values/strings.xml
Labels: allergens

#961 Fixes #332: Let the user decide if products should be sent on mobile data or Wifi
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/BarCodeScannerFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/res/layout/fragment_offline_edit.xml
  app/src/main/res/values/ids.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Labels: offline

#959 fixes #877 Additives are always displayed in English while we have tr…
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SplashActivity.java
Labels: additives

#947 Closes #173 Added ability to rotate and crop images (before sending)
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/NutritionInfoProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
  app/src/main/res/layout/activity_save_product_offline.xml
Labels: image-upload

#941 Fix to Issues with timestamp formatting in the history
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/HistoryListAdapter.java
Labels: history

#909 Implemented #901,#902: new lite API
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/BarCodeScannerFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIServiceTest.java
Labels: lite API

#981 Issue 980 - Fix gradle build
  app/build.gradle
Labels: bug, build

#975 Fixes #944: Add an activity for FAQ
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Labels: feature
