Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2018-05, with the labels that each got.

#1539 Fixes #1495 - incorrectly spaced commas are aligned properly
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ContributorsFragment.java
Labels: contributor-tab

#1419 Fixed #1409 : The edit icon on the new bottom nav has been replaced by a search icon.
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/res/drawable/nav_item_state.xml
  app/src/main/res/layout/activity_product.xml
  app/src/main/res/menu/my_navigation_items.xml
  app/src/main/res/values/strings.xml
Labels: product browsing

#1546 Fix #1513 #1490 allergens crash
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AllergensAlertFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/AllergensAdapter.java
Labels: allergens, bug

#1549 Closes #1484: Add a little padding on top of the add photo message
  app/src/main/res/layout/fragment_offline_summary_product.xml
Labels: ux

#1563 Fixes #1500; better handling of scan on shake settings changes
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
Labels: ux

#1564 Closes #1483 : Reword the category search
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/fragment/CategoryListFragment.java
Labels: ux

#1562 Closes #1529 : Cardify the Ingredient tab
  app/src/main/res/layout/fragment_ingredients_product.xml
  app/src/main/res/layout/fragment_summary_product.xml
Labels: ux

#1582 Closes #1580 : Cardify the nutrition summary tab.
  app/src/main/res/layout/fragment_nutrition_product.xml
Labels: product browsing
