Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2018-04, with the labels that each got.

#1391 New Crowdin translations
  app/src/main/res/values-de/strings.xml
Labels: translations

#1351 Closes #336 : Use WebP to reduce APK size
  app/src/main/res/drawable-hdpi/img_home.png
  app/src/main/res/drawable-hdpi/img_home.webp
  app/src/main/res/drawable-hdpi/placeholder_thumb.gif
  app/src/main/res/drawable-hdpi/placeholder_thumb.webp
  app/src/main/res/drawable/header.jpg
  app/src/main/res/drawable/header.webp
Labels: apk size

#1265 Fixed #704: Add a bottom navigation
  app/build.gradle
  app/proguard-rules.pro
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/BottomNavigationBehavior.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductActivity.java
  app/src/main/res/drawable-hdpi/ic_bookmark_black_24dp.png
  app/src/main/res/drawable-hdpi/ic_bookmark_white_24dp.png
  app/src/main/res/drawable-hdpi/ic_find_in_page_white_24dp.png
  app/src/main/res/drawable-hdpi/ic_share_white_24dp.png
  app/src/main/res/drawable-hdpi/ic_translate_white_24dp.png
  app/src/main/res/drawable/empty.png
  app/src/main/res/layout/activity_product.xml
  app/src/main/res/layout/activity_welcome.xml
  app/src/main/res/menu/my_navigation_items.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Labels: product-browsing, usability

#1228 Closes #536: Changed product addition layout
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/BarCodeScannerFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/NutritionInfoProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/NutritionProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SaveOfflineSummaryFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/SaveItem.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/SendProduct.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/FullScreenImage.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/SaveListAdapter.java
  app/src/main/res/drawable/ic_action_name.xml
  app/src/main/res/drawable/spinner_default.xml
  app/src/main/res/layout/activity_save_product_offline.xml
  app/src/main/res/layout/fragment_ingredients_product.xml
  app/src/main/res/layout/fragment_nutrition_info_product.xml
  app/src/main/res/layout/fragment_offline_summary_product.xml
  app/src/main/res/layout/save_list_item.xml
  app/src/main/res/values/strings.xml
Labels: product-addition

#1406 Fix #1343 OBF crash on startup
  app/proguard-rules.pro
Labels: bug, very high impact

#1426 Fixed #1425: Full application crash at startup on version 0.8.7 (F-droid)
  app/proguard-rules.pro
Labels: bug, very high impact

#1390 Closes #270: Shake phone to go back to scan mode
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/ShakeDetector.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoginActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/activity/CategoryActivity.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Labels: scanning

#1420 Fixed #1414, fixed #1416 (Remove confirmation step for new products), (Move the uploading button in Offline mode to the center of the screen)
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/res/values/strings.xml
Labels: offline, product-addition

#1424 Fixed #1305 :Image animations on Ingredient and nutrition images are not consistant with the new front animation
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/NutritionInfoProductFragment.java
Labels: product-browsing

#1422 Closes #1421: Fix OPF launcher icon
  app/src/opf/res/mipmap-hdpi/ic_launcher.png
  app/src/opf/res/mipmap-mdpi/ic_launcher.png
  app/src/opf/res/mipmap-xhdpi/ic_launcher.png
  app/src/opf/res/mipmap-xxhdpi/ic_launcher.png
  app/src/opf/res/mipmap-xxxhdpi/ic_launcher.png
Labels: ux

#1401 Fixed #814 : Show notification upon downloading history
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/GenericFileProvider.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/provider_paths.xml
Labels: history

#1405 Fixed #1403 :Convert the product view cards to proper material cards
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
  app/src/main/res/layout/fragment_summary_product.xml
Labels: product browsing

#1269 Closes #117 : Calculate calories for given weight
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/NutritionInfoProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductActivity.java
  app/src/main/res/drawable/ic_arrow_drop_down.xml
  app/src/main/res/drawable/spinner_weights.xml
  app/src/main/res/layout/dialog_calculate_calories.xml
  app/src/main/res/menu/menu_product.xml
  app/src/main/res/values/strings.xml
Labels: product browsing

#1441 updated scannerfragment intent flags
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/HomeFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
Labels: bug, scanning

#1445 removed confirmation to download
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AllergensAlertFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/AllergensAdapter.java
Labels: allergens

#1323 Closes #1322 : "No results found" is never displayed while searching products
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/res/layout/activity_brand.xml
  app/src/main/res/layout/fragment_search_products_results.xml
Labels: search

#1347 Closes #518: OFF and OBF logos are in the wrong languages
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashPresenter.java
  app/src/main/res/drawable/background_splash.xml
  app/src/main/res/layout/activity_splash.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/values-v21/styles.xml
  app/src/main/res/values/styles.xml
  app/src/obf/res/drawable/ic_openfacts_logo_no_tagline.png
  app/src/obf/res/values-fr/strings.xml
  app/src/obf/res/values-hi/strings.xml
  app/src/obf/res/values-it/strings.xml
  app/src/obf/res/values-ja/strings.xml
  app/src/obf/res/values-nl/strings.xml
  app/src/obf/res/values-zh/strings.xml
  app/src/obf/res/values/strings.xml
  app/src/off/res/drawable/ic_openfacts_logo_no_tagline.png
  app/src/off/res/values-ar/strings.xml
  app/src/off/res/values-cs/strings.xml
  app/src/off/res/values-de/strings.xml
  app/src/off/res/values-es/strings.xml
  app/src/off/res/values-fa/strings.xml
  app/src/off/res/values-fr/strings.xml
  app/src/off/res/values-hi/strings.xml
  app/src/off/res/values-hu/strings.xml
  app/src/off/res/values-ja/strings.xml
  app/src/off/res/values-rs/strings.xml
  app/src/off/res/values-th/strings.xml
  app/src/off/res/values/strings.xml
  app/src/opf/res/drawable/ic_openfacts_logo_no_tagline.png
  app/src/opf/res/values-ar/strings.xml
  app/src/opf/res/values-fr/strings.xml
  app/src/opf/res/values-hi/strings.xml
  app/src/opf/res/values-zh/strings.xml
  app/src/opf/res/values/strings.xml
  app/src/opff/res/drawable/ic_openfacts_logo_no_tagline.png
  app/src/opff/res/drawable/ic_openfacts_logo_no_tagline_old.png
  app/src/opff/res/values-ar/strings.xml
  app/src/opff/res/values-fr/strings.xml
  app/src/opff/res/values-hi/strings.xml
  app/src/opff/res/values-ja/strings.xml
  app/src/opff/res/values/strings.xml
Labels: translations

#1423 Closes #1413 : Add padding to "Get the facts" onboarding slide
  app/src/main/res/drawable/history.xml
  app/src/main/res/layout/welcome_slide1.xml
  app/src/main/res/layout/welcome_slide2.xml
  app/src/main/res/layout/welcome_slide3.xml
  app/src/main/res/layout/welcome_slide4.xml
  app/src/obf/res/drawable/history.png
  app/src/opf/res/drawable/history.png
  app/src/opff/res/drawable/history.png
Labels: onboarding

#1438 Closes #1432 : Fix swiping bug in onboarding slide
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/WelcomeActivity.java
Labels: onboarding

#1467 Fixed #1356: Allow to filter the categories in the category browser
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/activity/CategoryActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/fragment/CategoryListFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/viewmodel/category/CategoryFragmentViewModel.java
  app/src/main/res/layout/fragment_category_list.xml
Labels: categories

#1301 Fixed #1233: Performance issues on the Product Page.
  app/src/androidTest/java/ProductRepositoryTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AllergensAlertFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/AdditiveName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/AllergenName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/CategoryName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/CountryName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/LabelName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/IProductRepository.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ProductRepository.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/ProductInfoState.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IIngredientsProductPresenter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductPresenter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition_details/NutritionInfoProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/ISummaryProductPresenter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductPresenter.java
Labels: product browsing

#1446 Closes #1110 : Add a contributor tab to products
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ContributorsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/SearchType.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/layout/fragment_contributors.xml
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values/strings.xml
Labels: power users, product browsing

#1473 Closes #369 : Fix input validation in search by barcode
  app/src/main/res/layout/fragment_find_product.xml
Labels: search

#1440 Closes #241 : Show the "Products to be completed" page
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/NavigationDrawerListener.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/SearchType.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/res/values/strings.xml
Labels: account management, power users

#1470 Closes #1469 : Fix onboarding slides shown everytime
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/WelcomeActivity.java
Labels: onboarding

#1471 Fixed #1232: Pull to reload on Product View
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/BaseFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ContributorsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/ProductFragmentPagerAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/activity/CategoryActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/listeners/OnRefreshListener.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/listeners/OnRefreshView.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition_details/NutritionInfoProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/layout/activity_product.xml
  app/src/main/res/layout/fragment_contributors.xml
  app/src/main/res/layout/fragment_ingredients_product.xml
  app/src/main/res/layout/fragment_nutrition_info_product.xml
  app/src/main/res/layout/fragment_nutrition_product.xml
  app/src/main/res/layout/fragment_summary_product.xml
Labels: product browsing

#1272 Closes #205: Added RateUs feature
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Labels: settings

#1443 Add Unit Tests for some of the models
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/AdditiveNameTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/AdditiveResponseTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/AdditiveTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/ProductTest.java
Labels: tests

#1478 Fixed #952: Keep a local cache of the categories.json
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/activity/CategoryActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/fragment/CategoryListFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/viewmodel/ViewModel.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/viewmodel/category/CategoryFragmentViewModel.java
  app/src/main/res/layout/activity_category.xml
  app/src/main/res/layout/fragment_category_list.xml
Labels: categories

#1488 Closes #1487 : Clicking on the User image or anonymous should open the Login screen
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoginActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
Labels: login

#1444 Closes #194 : Create a list of products added by the user
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/res/drawable-hdpi/ic_action_name.png
  app/src/main/res/drawable-mdpi/ic_action_name.png
  app/src/main/res/drawable-xhdpi/ic_action_name.png
  app/src/main/res/drawable-xxhdpi/ic_action_name.png
  app/src/main/res/menu/menu_main.xml
  app/src/main/res/values/strings.xml
Labels: contribution

#1510 Closes #1496, closes #1511: Make the contributor tab optional in the settings.
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/res/layout/fragment_scanner.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Labels: contributor-tab

#1396 Fixed #1376 #1377 #1379 #1380 #1365 (Disabled Nutrition grade overlay, grade sorting in history, photos tabs for OPF)
  app/build.gradle
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ProductPhotosFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/HistoryListAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/layout/fragment_product_photos.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Labels: Open Beauty Facts, Open Products Facts
