Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2018-03, with the labels that each got.

#995 Adds connectivity check on categories
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/activity/CategoryActivity.java
  app/src/main/res/layout/activity_category.xml
  app/src/main/res/layout/offline_cloud_layout.xml
  app/src/main/res/values/strings.xml
Labels: categories

#984 Fixed #962: Wrong title when moving from a fragment to MainActivity
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AlertUserFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/FindProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/HomeFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
Labels: bug, home

#988 fixes #951 Add a warning about allergen detector when a product is not complete
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductActivity.java
  app/src/main/res/drawable-hdpi/warning_icon.png
  app/src/main/res/drawable-mdpi/warning_icon.png
  app/src/main/res/drawable-xhdpi/warning_icon.png
  app/src/main/res/drawable-xxhdpi/warning_icon.png
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values/strings.xml
Labels: allergens

#997 fixes #501 Kill the offline popup, and replace it by an inline card
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/res/layout/fragment_offline_edit.xml
Labels: offline

#1017 Fix Toast and some Minor changes
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/FindProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/obf/res/values/strings.xml
Labels: toasts

#1027 Fixes #1008 : Serbian Locale bug
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/LocaleHelper.java
Labels: i18n, translations

#1002 Fixes #754 Add Side scroll to categories
  app/src/main/java/openfoodfacts/github/scrachx/openfood/FastScroller.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/fragment/CategoryListFragment.java
  app/src/main/res/drawable/fastscroller_bubble.xml
  app/src/main/res/drawable/fastscroller_handle.xml
  app/src/main/res/layout/fastscroller.xml
  app/src/main/res/layout/fragment_category_list.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Labels: categories

#1012 Fixed #231: Add advanced search in a Chrome Custom Tab
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/res/values/strings.xml
Labels: chrome-custom-tab

#1016 Fixed #953 : Brand and Weight are not displayed in the Offline product list
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/SaveItem.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/SaveListAdapter.java
  app/src/main/res/layout/save_list_item.xml
Labels: offline

#1000 Updated History and Product search UI
  app/build.gradle
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/DatabaseHelper.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/HistoryItem.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/HistoryProduct.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/HistoryListAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/ProductsRecyclerViewAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/holders/HistoryScanHolder.java
  app/src/main/res/drawable/nnc_small_a.xml
  app/src/main/res/drawable/nnc_small_b.xml
  app/src/main/res/drawable/nnc_small_c.xml
  app/src/main/res/drawable/nnc_small_d.xml
  app/src/main/res/drawable/nnc_small_e.xml
  app/src/main/res/layout/history_list_item.xml
  app/src/main/res/layout/products_list_item.xml
Labels: history, product-browsing, ux

#1028 Fixes #708 "Added option for donation"
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Labels: feature

#1045 New Crowdin translations
  app/src/main/res/values-hi/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/off/res/values-hi/strings.xml
Labels: translations

#1051 Ensured Nutriscore in Search and History are disabled for OBF and OPFF
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
Labels: open beauty facts, open pet food facts

#1096 Fixes #1095 Changed back arrow color to black
  app/src/main/res/layout/activity_product.xml
  app/src/main/res/values/styles.xml
Labels: ux

#1048 Landscape enabled
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/BaseActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoginActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ScannerFragmentActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SplashActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/WelcomeActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/activity/CategoryActivity.java
  app/src/main/res/values-large/bools.xml
  app/src/main/res/values-sw600dp/bools.xml
  app/src/main/res/values/bools.xml
Labels: tablets, ux

#1120 Fixes #764 There is an empty item at the start of categories list
  app/src/main/java/openfoodfacts/github/scrachx/openfood/category/network/CategoryResponse.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/fragment/CategoryListFragment.java
Labels: categories

#1056 Add Recycler View to OfflineEditFragment
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/SaveListAdapter.java
  app/src/main/res/layout/fragment_offline_edit.xml
  app/src/main/res/layout/save_list_item.xml
Labels: offline

#1111 Fixed #1107 : Make labels clickable on product page
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
Labels: product-browsing

#1131 Fixed #288 : Disable Nutrition image upload for Open Beauty Facts
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
  app/src/main/res/layout/activity_save_product_offline.xml
Labels: open beauty facts

#1135 Fixed #1102: Languages should only be translated into their own language
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
Labels: translations

#1125 closes #1105 Make brands clickable on Product Page
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/BaseActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/BrandActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductActivity.java
  app/src/main/res/layout/activity_brand.xml
  app/src/main/res/values/strings.xml
Labels: product-browsing

#1092 Fixed #1084 : History should be fully translatable
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoginActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/HistoryListAdapter.java
  app/src/main/res/values/strings.xml
Labels: history, translations

#1150 closes #1148 string "conform" is changed to "confirm"
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/HistoryListAdapter.java
  app/src/main/res/values/strings.xml
Labels: translations

#1140 Fixed #1109 : Make country clickable on Product Page
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/BrandActivity.java
  app/src/main/res/values/strings.xml
Labels: product-browsing

#1128 closes #445 Offer to type barcode if no barcode is detected after 30s
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/BarCodeScannerFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ScannerFragmentActivity.java
  app/src/main/res/layout/fragment_scanner.xml
  app/src/main/res/values/strings.xml
Labels: scanning

#1136 Android’s AAPT tool added for Crunching PNG
  app/build.gradle
Labels: build, graphic assets

#1139 Fixed #1103: Navigation drawer selection on language change
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AlertUserFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/FindProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/HomeFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/NavigationBaseFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/INavigationItem.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/NavigationDrawerListener.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
Labels: menu

#1079 deleted new daosession
  app/src/main/java/openfoodfacts/github/scrachx/openfood/jobs/SavedProductUploadJob.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/OFFApplication.java
Labels: local-database

#914 Upload toast is hiding the "Upload All" button #830
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
Labels: toasts

#1177 Export History in App own folder
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
Labels: history

#1130 fixes #1129 App crashes on launching offlineEditFragment when it contains items.
  app/src/main/res/layout/save_list_item.xml
Labels: bug, offline

#1094 Fixes #1093 Last seen of Product Issue
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/HistoryListAdapter.java
  app/src/main/res/values/strings.xml
Labels: history

#1182 Convert PNGs to Vector Drawables
  app/src/main/res/drawable-hdpi/ic_action_cross.png
  app/src/main/res/drawable-hdpi/ic_action_name.png
  app/src/main/res/drawable-hdpi/ic_arrow_down.png
  app/src/main/res/drawable-hdpi/ic_home.png
  app/src/main/res/drawable-hdpi/ic_ingredient.png
  app/src/main/res/drawable-hdpi/ic_nutrition.png
  app/src/main/res/drawable-hdpi/ic_summary_product.png
  app/src/main/res/drawable-hdpi/warning_icon.png
  app/src/main/res/drawable-mdpi/ic_action_cross.png
  app/src/main/res/drawable-mdpi/ic_action_name.png
  app/src/main/res/drawable-mdpi/ic_arrow_down.png
  app/src/main/res/drawable-mdpi/ic_home.png
  app/src/main/res/drawable-mdpi/ic_ingredient.png
  app/src/main/res/drawable-mdpi/ic_nutrition.png
  app/src/main/res/drawable-mdpi/ic_summary_product.png
  app/src/main/res/drawable-mdpi/warning_icon.png
  app/src/main/res/drawable-xhdpi/ic_action_cross.png
  app/src/main/res/drawable-xhdpi/ic_action_name.png
  app/src/main/res/drawable-xhdpi/ic_arrow_down.png
  app/src/main/res/drawable-xhdpi/ic_home.png
  app/src/main/res/drawable-xhdpi/ic_ingredient.png
  app/src/main/res/drawable-xhdpi/ic_nutrition.png
  app/src/main/res/drawable-xhdpi/ic_summary_product.png
  app/src/main/res/drawable-xhdpi/warning_icon.png
  app/src/main/res/drawable-xxhdpi/ic_action_cross.png
  app/src/main/res/drawable-xxhdpi/ic_action_name.png
  app/src/main/res/drawable-xxhdpi/ic_arrow_down.png
  app/src/main/res/drawable-xxhdpi/ic_home.png
  app/src/main/res/drawable-xxhdpi/ic_ingredient.png
  app/src/main/res/drawable-xxhdpi/ic_nutrition.png
  app/src/main/res/drawable-xxhdpi/ic_summary_product.png
  app/src/main/res/drawable-xxhdpi/warning_icon.png
  app/src/main/res/drawable/ic_action_cross.xml
  app/src/main/res/drawable/ic_action_name.xml
  app/src/main/res/drawable/ic_arrow_down.xml
  app/src/main/res/drawable/ic_cloud_off.png
  app/src/main/res/drawable/ic_cloud_off.xml
  app/src/main/res/drawable/warning_icon.xml
  app/src/main/res/layout/activity_save_product_offline.xml
  app/src/main/res/layout/fragment_offline_edit.xml
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values/arrays.xml
Labels: apk size

#1122 Fixes #904 User can choose resolution for the image
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Labels: data-saving

#1161 fixes #1152 Made CommonActivity to Show list of products and made additive clickable.
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SearchProductsResultsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/res/layout/activity_brand.xml
  app/src/main/res/values/strings.xml
Labels: product-browsing

#1117 Fixes #1114 Make stores clickable
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
Labels: product-browsing

#1032 Closes #996 Login issue fixed
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoginActivity.java
Labels: login

#739 Fixes #430, fixes #729: (Offset for loading dialog for the login screen)
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoginActivity.java
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/values/strings.xml
Labels: login

#1207 Fixed #1206: Deleted old additives files
  app/src/main/assets/additives_en.json
  app/src/main/assets/additives_fr.json
  app/src/main/res/layout/activity_save_product_offline.xml
Labels: additives, apk size

#1223 Closes #418: Add bigger pictures in the product view
  app/src/main/res/layout/fragment_ingredients_product.xml
  app/src/main/res/layout/fragment_nutrition_info_product.xml
  app/src/main/res/layout/fragment_summary_product.xml
Labels: product-browsing

#1196 Fixed #1112: Make traces and substances causing allergies or intolerances clickable
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AlertUserFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/SearchType.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoginActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
  app/src/main/res/layout/fragment_ingredients_product.xml
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values/strings.xml
Labels: product-browsing

#1245 Allergens refactor and document
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AllergensAlertFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/IngredientsProductFragment.java.orig
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Allergen.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/AllergenName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/AllergenResponse.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/AllergensWrapper.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/deserializers/AllergensWrapperDeserializer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ProductRepository.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductActivity.java
  app/src/main/res/layout/fragment_alert_allergens.xml
  app/src/main/res/layout/item_allergens.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIServiceTest.java
Labels: allergens, refactoring

#1252 New Crowdin translations
  app/src/main/res/values-ja/strings.xml
Labels: translations

#1249 Closes #194: View products added by contributors
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/SearchType.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/res/values/strings.xml
Labels: contribution

#1254 Closes #1253: Fix nutrition facts layout
  app/src/main/res/layout/nutriment_item_list.xml
  app/src/main/res/layout/nutriment_item_list_header.xml
  app/src/main/res/values-w820dp/dimens.xml
  app/src/main/res/values/dimens.xml
Labels: nutrition-facts

#1266 Fixed #864 : Remove "no data" Toast from Offline edit fragment
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/res/drawable/ic_cloud_done.xml
  app/src/main/res/drawable/ic_cloud_upload.xml
  app/src/main/res/layout/fragment_offline_edit.xml
  app/src/main/res/values/strings.xml
Labels: offline

#1248 Closes #1247: add search feature to ProductBrowsingListActivity (Product list).
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
Labels: search

#1034 Closes #489: Enabled Shrink resources in build.gradle
  app/build.gradle
  app/proguard-rules.pro
Labels: apk size

#1132 Fixed #1082: Sync old history entries (Quantity and Nutriscore)
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
Labels: history

#1278 Fixed #1192, fixed #903: new API in Category browser + new light API for categories
  app/src/main/java/openfoodfacts/github/scrachx/openfood/dagger/module/FragmentModule.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/IProductRepository.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ProductRepository.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/adapter/CategoryListRecyclerAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/adapter/CategoryViewHolder.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/bindingadapter/RecyclerBindingAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/viewmodel/category/CategoryFragmentViewModel.java
  app/src/main/res/layout/category_recycler_item.xml
Labels: categories

#1282 Closes #1275: Vitamins, minerals, amino acid and others tags support added
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/res/layout/fragment_ingredients_product.xml
  app/src/main/res/values/strings.xml
Labels: product-browsing

#1283 Fixes #1264 exits the intro slides when swipe
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/WelcomeActivity.java
Labels: onboarding

#1054 Closes #1053: Corrects alerts for no connectivity
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/res/layout/fragment_search_products_results.xml
  app/src/main/res/values/strings.xml
Labels: offline

#1276 Closes #1267: Update Alert allergens fragment
  app/build.gradle
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
  app/src/main/res/layout/fragment_alert_allergens.xml
  app/src/main/res/values/strings.xml
Labels: allergens, ux

#1246 Closes #506: Getting information from wikidata.
  app/build.gradle
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Additive.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/AdditiveName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/AdditiveResponse.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Category.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/CategoryName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/CategoryResponse.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/DatabaseHelper.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Label.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/LabelName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/LabelResponse.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/WikidataApiClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/WikidataApiService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/deserializers/AdditivesWrapperDeserializer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/deserializers/AllergensWrapperDeserializer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/deserializers/CategoriesWrapperDeserializer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/deserializers/CountriesWrapperDeserializer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/deserializers/LabelsWrapperDeserializer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ProductRepository.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashActivity.java
  app/src/main/res/layout/activity_product.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
Labels: product-browsing

#1226 Closes #1225, Closes #1234: Bug in search.
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
Labels: search, very high impact

#1331 New Crowdin translations
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: translations

#1338 Solved bug appeared in schema in implementation of wikidata
  app/build.gradle
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/AdditiveName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/CategoryName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/DatabaseHelper.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/LabelName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashPresenter.java
Labels: bug, product-browsing, wikidata

#1339 Category and Label display is broken.
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
Labels: product-browsing, wikidata

#1340 Removed ": Wiki link present" from categories, labels and additives which had wikidata id.
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
Labels: product-browsing, wikidata

#1154 Removes deprecated API usages and cleans up code
  app/src/main/java/openfoodfacts/github/scrachx/openfood/FastScroller.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AllergensAlertFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/BarCodeScannerFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/CameraSelectorDialogFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/FindProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/HomeFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/NutritionInfoProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/NutritionProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/jobs/SavedProductUploadJob.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/NutrimentItem.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/TagsWrapper.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/SwipeController.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/SwipeControllerActions.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoginActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/OFFApplication.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/PrefManager.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ScannerFragmentActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/WelcomeActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/AllergensAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/HistoryListAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/NavDrawerListAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/NutrientLevelListAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/NutrimentsRecyclerViewAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/ProductsListAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/SaveListAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/fragment/CategoryListFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/customtabs/CustomTabActivityHelper.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/holders/HistoryScanHolder.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/viewmodel/ViewModel.java
Labels: refactoring

#1334 Closes #1333 : Add search icon on soft keyboard
  app/src/main/res/xml/searchable.xml
Labels: search

#1227 Closes #868: Share images with Open Food Facts
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/res/layout/alert_barcode.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Labels: image-upload, product-addition

#1058 Fixed #1010, fixed #375: Don't delete brand and product name if we upload an Offline product that already exists
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Additive.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
Labels: offline
