Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2018-06, with the labels that each got.

#1618 Closes #1551 : Add continuous scan
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/dagger/component/AppComponent.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/dagger/module/AppModule.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/BarCodeScannerFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/HomeFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoginActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/SaveProductOfflineActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ScannerFragmentActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/res/drawable/ic_check_white_24dp.xml
  app/src/main/res/drawable/ic_flash_off_white_24dp.xml
  app/src/main/res/drawable/ic_flash_on_white_24dp.xml
  app/src/main/res/drawable/ic_help_outline_orange_24dp.xml
  app/src/main/res/drawable/ic_more_vert_white_24dp.xml
  app/src/main/res/drawable/rounded_quick_view.xml
  app/src/main/res/drawable/rounded_slide__up_indicator.xml
  app/src/main/res/layout/activity_continuous_scan.xml
  app/src/main/res/layout/alert_powermode_image.xml
  app/src/main/res/layout/fragment_scanner.xml
  app/src/main/res/menu/popup_menu.xml
  app/src/main/res/values/strings.xml
  build.gradle
Labels: GSoC 2018, scanning

#1698 Dirty Oreo service fix
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/WifiUploadReceiver.java
Labels: Oreo, hack, service

#1697 Closes Issue#1689: Added Swipe Down feature to go back to Main Activity
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/SwipeDetector.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java
  app/src/main/res/anim/slide_down.xml
  app/src/main/res/anim/slide_up.xml
Labels: scanning

#1696 Closes Issue#1695: Fixed cropped title on launch screen
  app/src/main/res/layout/fragment_home.xml
Labels: home

#1715 Implement MainActivity.changeFragment()
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/res/values/strings.xml
Labels: refactoring, ux

#1706 fix: issue #1701 Null pointer Exception in models/Nutriments.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Nutriments.java
Labels: bug, nutrition facts
