Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2018-12, with the labels that each got.

#2005 Added MaterialDialog for visual feedback when clicking (Take Your Pictures).
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ProductPhotosFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/ImageUploadListener.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition_details/NutritionInfoProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/layout/fragment_summary_product.xml
Labels: image upload, product browsing

#2014 Change the Allergen Fragment to show a message when empty
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AllergensAlertFragment.java
  app/src/main/res/layout/fragment_alert_allergens.xml
Labels: allergens

#2040 hunger games for android
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/activity/CategoryActivity.java
  app/src/main/res/layout/activity_category.xml
  app/src/main/res/values/strings.xml
Labels: categories explorer, chrome-custom-tab
