Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2019-06, with the labels that each got.

#2666 Put more emphasis on NutriScore in ContinuousScanActivity
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AdditiveFragmentHelper.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AllergensAlertFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/BaseFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/CameraSelectorDialogFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ContributorsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/jobs/PhotoReceiverHandler.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java
  app/src/main/res/layout/activity_continuous_scan.xml
  app/src/main/res/values/strings.xml
Labels: scanning

#2713 Documentation for NavigationBaseFragment
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/NavigationBaseFragment.java
Labels: documentation

#2726 Fixes #2723: Documented the files in openfood/repositories package
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/IProductRepository.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ProductRepository.java
Labels: documentation

#2714 Updated ReadMe file by writing conceptual overviews of the project
  README.md
Labels: documentation

#2275 Added a provision to add number of products to lists
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/YourListedProduct.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/DialogAddToListAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/YourListedProductsAdapter.java
  app/src/main/res/layout/dialog_enter_no_of_products.xml
  app/src/main/res/layout/your_listed_products_item.xml
  app/src/main/res/values/strings.xml
Labels: lists
