Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2019-05, with the labels that each got.

#2548 Fixes #2529 : You can edit a product without being logged in if you click on "Add nutrition facts to compute Nutri-Score" #2529
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
Labels: editing

#2534 #2512 Multiple lists with same name.
  CHANGELOG.md
  app/build.gradle
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/ProductLists.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductListsActivity.java
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values/strings.xml
Labels: lists

#2556 Fixes #2543: Harmonize color of icon and add margin with image
  app/src/main/res/layout/fragment_nutrition_product.xml
Labels: pixel-perfect-app

#2630 #Add Bottom Navigation Bar on Allergen Alert Screen
  app/build.gradle
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AllergensAlertFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/AllergensAdapter.java
  app/src/main/res/drawable/playlist_add.xml
  app/src/main/res/drawable/plus_blue.xml
  app/src/main/res/layout/activity_product.xml
  app/src/main/res/layout/fragment_alert_allergens.xml
  app/src/main/res/menu/navigation.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: navigation

#2633 Fixes #2632: Removed unused namespace declaration in XML files
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/fragment_environment_product.xml
  app/src/main/res/layout/fragment_product_photos.xml
  app/src/main/res/layout/offline_cloud_layout.xml
  app/src/main/res/xml/provider_paths.xml
Labels: refactoring

#2637 Fixes #2636: Fixed code style issues
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/ImageUploadListener.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/SwipeDetector.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashPresenter.java
Labels: refactoring

#2635 Fixes #2634: Removed all unused import statements from the project
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductIngredientsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ContributorsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ProductPhotosFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Category.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/IngredientsRelation.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Label.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/LabelName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/LabelResponse.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/ProductImage.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/deserializers/AdditivesWrapperDeserializer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/deserializers/CategoriesWrapperDeserializer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/deserializers/LabelsWrapperDeserializer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/ShakeDetector.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/AddProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/AdditivesExplorer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/FullScreenImage.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/ImagesAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/PhotosAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/activity/CategoryActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/environment/EnvironmentProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductPresenter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/viewmodel/category/CategoryFragmentViewModel.java
Labels: refactoring
