Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2019-12, with the labels that each got.

#2932 Fix permission denied issue on clicking manage account
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoginActivity.java
Labels: account management, bug

#2934 Remove instrumentation tests from CI builds
  .travis.yml
Labels: ci, tests

#2894 Change theme and fix bottom navigation issues
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AllergensAlertFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/FindProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/HomeFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/AdditivesExplorer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductComparisonActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductListsActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/YourListedProducts.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/activity/CategoryActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/listeners/BottomNavigationListenerInstaller.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductFragment.java
  app/src/main/res/color/navigation_bottom_item.xml
  app/src/main/res/layout/activity_continuous_scan.xml
  app/src/main/res/layout/navigation_bottom.xml
  app/src/main/res/menu/navigation_bottom.xml
  app/src/main/res/values/dimens.xml
  build.gradle
Labels: P1, pixel perfect app, ux
