Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2019-03, with the labels that each got.

#2329 New Crowdin translations
  app/src/main/res/values-da/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
Labels: in progress

#2331 Update strings.xml
  app/src/main/res/values/strings.xml
Labels: in progress

#2336 New Crowdin translations
  app/src/main/res/values-da/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-sl/strings.xml
Labels: in progress

#2353 Fix issue #2326
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/BottomScreenCommon.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
Labels: in progress

#2358 New Crowdin translations
  app/src/main/res/values-fr/strings.xml
Labels: in progress

#2271 Added list name on product summary page
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values/strings.xml
Labels: lists

#2378 fixes #2377 : Color of ADD Fab button in alert allergens fragment is looking overlapped with item number indicated as it is blue in colour.
  app/src/main/res/layout/fragment_alert_allergens.xml
Labels: allergens, pixel-perfect-app

#2363 fixes #2323 and #2322 :Added icons to some buttons
  app/src/main/res/drawable/ic_add_a_photo_black_18dp.xml
  app/src/main/res/drawable/ic_add_box_black_18dp.xml
  app/src/main/res/drawable/ic_compare_arrows_black_18dp.xml
  app/src/main/res/drawable/ic_file_download_black_18dp.xml
  app/src/main/res/layout/fragment_add_product_ingredients.xml
  app/src/main/res/layout/fragment_add_product_nutrition_facts.xml
  app/src/main/res/layout/fragment_add_product_overview.xml
  app/src/main/res/layout/fragment_ingredients_product.xml
  app/src/main/res/layout/fragment_summary_product.xml
Labels: pixel-perfect-app

#2370 Disable the notification on (un)successful taxonomy load
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoadTaxonomiesService.java
Labels: onboarding, taxonomies

#2390 Make the bottom bar more legible by turning it blue
  app/src/main/res/layout/activity_product.xml
Labels: ux

#2415 Fixes #2341:Hiding 4 fields in Edit mode
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java
  app/src/main/res/layout/fragment_add_product_overview.xml
Labels: editing

#2256 Fixes #2254 : Display other fields of the product in the appropriate …
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/LocaleHelper.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/values/strings.xml
Labels: multilingual products

#2439 Product view UI improvements
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/ISummaryProductPresenter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductPresenter.java
  app/src/main/res/drawable/button_shape.xml
  app/src/main/res/drawable/ic_add_a_photo_blue_18dp.xml
  app/src/main/res/drawable/ic_add_box_blue_18dp.xml
  app/src/main/res/drawable/ic_compare_arrows_blue_18dp.xml
  app/src/main/res/layout/fragment_ingredients_product.xml
  app/src/main/res/layout/fragment_nutrition_product.xml
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/styles.xml
Labels: ux

#2437 fix #2252 + refactoring on fragment AddProductNutritionFactsFragment
  .travis.yml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/QuantityParserUtil.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/UnitUtils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/main/res/layout/fragment_add_product_nutrition_facts.xml
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/AdditiveResponseTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/AdditivesWrapperTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/QuantityParserTest.java
Labels: editing

#2441 fix #2438 (updating unit tests)
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Additive.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/AdditiveName.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/AdditiveNameTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/AdditiveResponseTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/AdditivesWrapperTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/ProductTest.java
Labels: tests

#2453 fix #2403, #2374 Nutrient name should always be visible in edit mode (even if we have a value)
  app/src/androidTest/java/OfflineSavedProductTest.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsData.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Nutriments.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/CustomValidatingEditTextView.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/QuantityParserUtil.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/UnitUtils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/ValueState.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/AddProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/main/res/drawable/bg_edittext.xml
  app/src/main/res/drawable/bg_edittext_til.xml
  app/src/main/res/layout/fragment_add_product_nutrition_facts.xml
  app/src/main/res/layout/fragment_add_product_overview.xml
  app/src/main/res/values/attrs.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
Labels: editing

#2379 fixes #2309 : Add Error Message for empty Password in Sign-in Screen
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoginActivity.java
Labels: signup

#2460 Redesign of product summary tab
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/BottomNavigationBehavior.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/CalculateDetails.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/drawable/circle_button.xml
  app/src/main/res/drawable/ic_bookmark_circle_24dp.xml
  app/src/main/res/drawable/ic_compare_arrows_circle_24dp.xml
  app/src/main/res/drawable/ic_edit_circle_24dp.xml
  app/src/main/res/drawable/ic_share_circle_24dp.xml
  app/src/main/res/layout/activity_product.xml
  app/src/main/res/layout/dialog_add_to_list.xml
  app/src/main/res/layout/dialog_add_to_list_recycler_item.xml
  app/src/main/res/layout/fragment_contributors.xml
  app/src/main/res/layout/fragment_environment_product.xml
  app/src/main/res/layout/fragment_ingredients_product.xml
  app/src/main/res/layout/fragment_nutrition_product.xml
  app/src/main/res/layout/fragment_product_photos.xml
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/menu/menu_product.xml
  app/src/main/res/menu/my_navigation_items.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/values/styles_product_summary.xml
Labels: summary tab

#2455 fix #2374, #2454 Nutrition units incorrectly managed
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Nutriments.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ProductRepository.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/UnitUtils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/ProductComparisonAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/CalculateDetails.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/environment/EnvironmentProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/NutrimentsTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/UnitUtilTest.java
Labels: nutrition facts

#2492 Add Uri null check for share image intent (#2444)
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
Labels: Share to Open Food Facts

#2489 Fix #2488 The link to rate the app is broken
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
Labels: settings
