Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2019-01, with the labels that each got.

#2035 Added headers in scan http calls
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/AddProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIServiceTest.java
Labels: scanning

#2064 Fixes Issue #2062: Added scan fab in the history activity
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/res/layout/activity_history_scan.xml
Labels: history

#2070 Display CarbonFootprint in CardView and add Environment Tab
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/environment/EnvironmentProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/main/res/layout/fragment_environment_product.xml
  app/src/main/res/layout/fragment_nutrition_product.xml
  app/src/main/res/values/strings.xml
Labels: product browsing

#2047 Fixes #2042: Add a small "Take Nutrition Photo" and "Take Ingredient …
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values/strings.xml
Labels: image upload

#2060 Fixed Remembering the last camera used.
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java
Labels: scanning

#2080 Fixed: Changing languages changes connexion status in side menu.
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
Labels: login

#2089 Fixes #2072: Remove the pictures from the "Contributions" tab
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ContributorsFragment.java
  app/src/main/res/layout/fragment_contributors.xml
Labels: contribution

#2021 Fixed #2020: duplication of Signin and Logout items in drawer items.
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
Labels: drawer

#2061 Fixes #1357: Add an ingredient analysis tab for Open Beauty Facts
  app/build.gradle
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients_analysis/IngredientsAnalysisProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients_analysis/adapter/IngredientAnalysisRecyclerAdapter.java
  app/src/main/res/layout/fragment_ingredients_analysis_product.xml
  app/src/main/res/layout/ingredient_analysis_list_item.xml
  app/src/main/res/values/strings.xml
Labels: Open Beauty Facts, ingredients

#2019 Tab to browse all product images
  app/build.gradle
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ProductPhotosFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/ImagesAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java
  app/src/main/res/layout/fragment_ingredients_product.xml
  app/src/main/res/layout/fragment_product_photos.xml
  app/src/main/res/layout/images_item.xml
  app/src/main/res/menu/menu_image_edit.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Labels: product browsing

#2063 Fixes Issue #634: Send an anonymized hash with each contribution non-logged in device
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/AddProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/Installation.java
Labels: contribution, quality of contributions

#1834 Closes #1826: java.lang.IllegalStateException android.widget.TextView.onKeyUp
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java
Labels: bug

#2037 Fixes Issue #2030 Added reload functionality as soon as product is ed…
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
Labels: product browsing

#2048 Fixes #2043: Add a small prompt "Extract ingredients" when there's an…
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductIngredientsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/AddProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java
  app/src/main/res/layout/fragment_ingredients_product.xml
  app/src/main/res/values/strings.xml
Labels: product browsing

#2012 Initial progress, for tweakable reference to dynamic product
  .gitignore
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/HomeFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/TaglineLanguageModel.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/TaglineModel.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/res/layout-v26/fragment_home.xml
  app/src/main/res/layout/fragment_home.xml
Labels: home

#2041 Fixes #2015: Add prompts to get the NutriScore for uncomplete products
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductIngredientsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/layout/fragment_nutrition_product.xml
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values/strings.xml
Labels: nutriscore

#2150 Fixes: #2145, NullPointerException on EditText
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java
Labels: editing

#2161 Added padding to bottom of product name
  app/src/main/res/layout/fragment_summary_product.xml
Labels: product browsing

#2170 Fixes: #2168, Origin of ingredients is not clickable
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/SearchType.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/layout/fragment_summary_product.xml
Labels: product browsing

#2116 Additives explorer
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/NavigationDrawerListener.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/AdditivesExplorer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/AdditivesAdapter.java
  app/src/main/res/drawable/additives.png
  app/src/main/res/layout/activity_additives_explorer.xml
  app/src/main/res/layout/additives_item.xml
  app/src/main/res/values/strings.xml
Labels: additives
