Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2019-02, with the labels that each got.

#2162 Hide ingredients card when there are no ingredients
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java
Labels: product browsing

#2183 Fix additives explorer UI and search
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/AdditivesExplorer.java
  app/src/main/res/layout/activity_additives_explorer.xml
  app/src/main/res/layout/additives_item.xml
  app/src/main/res/values/strings.xml
Labels: additives

#2100 Fix search
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
Labels: search

#2068 Fixes Issues #2065 #2066 #2067: Added Other Information, Storage Inst…
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/layout/fragment_add_product_overview.xml
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values/strings.xml
Labels: product browsing

#2208 Fixes #2205: Bind new field in HTML card in the Environnment tab
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/environment/EnvironmentProductFragment.java
  app/src/main/res/layout/fragment_environment_product.xml
Labels: environment

#2212 Fixes #2206: Display colored CO2 icon depending on the Carbon impact …
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/drawable/ic_co2_high_24dp.xml
  app/src/main/res/drawable/ic_co2_low_24dp.xml
  app/src/main/res/drawable/ic_co2_medium_24dp.xml
  app/src/main/res/layout/activity_continuous_scan.xml
  app/src/main/res/layout/fragment_summary_product.xml
Labels: environment

#2214 Improve Additives search
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/AdditivesExplorer.java
Labels: in progress

#2200 Fixes #2186: Hide the "Take a photo of the nutrition table" in the OB…
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
Labels: Open Beauty Facts

#2147 Add nova group to ingredients tab and add link to nutri-score info in nutrition tab
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/main/res/layout/fragment_ingredients_product.xml
  app/src/main/res/layout/fragment_nutrition_product.xml
  app/src/main/res/values/strings.xml
Labels: product browsing

#2224 Fixes #2071: Moving recycling instructions to the environnement tab
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/environment/EnvironmentProductFragment.java
  app/src/main/res/layout/fragment_environment_product.xml
Labels: environment

#2152 Fixes #2142: Do not display a question mark on product page if the Nu…
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
Labels: product browsing

#2221 Fixes #2209: Add a search history to the search bar
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/SearchSuggestionProvider.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/fragment/CategoryListFragment.java
  app/src/main/res/drawable/ic_history_black_24dp.xml
  app/src/main/res/layout/custom_search_suggestion.xml
  app/src/main/res/values/refs.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
  app/src/main/res/xml/searchable.xml
Labels: search

#2163 Fixes #1005: Common name is always displayed in French, although we h…
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
Labels: product browsing

#2211 Fixes #2202: Calculate nutrition facts doesn't take liquid units into…
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Nutriments.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/CalculateDetails.java
  app/src/main/res/values/strings.xml
Labels: product browsing

#2290 New Crowdin translations
  app/src/main/res/values-fr/strings.xml
Labels: in progress

#2288 Closes #2264, closes #2287: Drawer bugs
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
Labels: bug

#2272 Added '+' button in product fragment, allowing addition of product…
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java
  app/src/main/res/layout/activity_continuous_scan.xml
Labels: lists

#2292 New Crowdin translations
  app/src/main/res/values-pl/strings.xml
Labels: in progress

#2285 Fixes #2262: Exception when scanning twice the same product from compare mode
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
Labels: bug

#2276 fixes #2273 : When no items are added to offline edit, Text is misplaced
  app/src/main/res/layout/fragment_offline_edit.xml
Labels: offline

#2298 New Crowdin translations
  app/src/main/res/values-fr/strings.xml
Labels: in progress

#2122 fixes issue #2105: loaded taxonomies in the background
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoadTaxonomiesService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashPresenter.java
  app/src/main/res/values/strings.xml
Labels: taxonomies

#2320 New Crowdin translations
  app/src/main/res/values-hu/strings.xml
Labels: in progress
