Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2019-04, with the labels that each got.

#2476 more robust code to fix #1933 and #2447
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/BaseFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ContributorsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ProductPhotosFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/EmbCodeAutoCompleteAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/environment/EnvironmentProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
Labels: editing

#2450 fixes #2442 :Disable notification of taxonomy download
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoadTaxonomiesService.java
  app/src/main/res/values/strings.xml
Labels: taxonomies

#2092 Allow rotation of front, nutrient and ingredient images during editing
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductIngredientsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ProductPhotosFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/FullScreenImageRotate.java
  app/src/main/res/drawable/ic_check_white_24dp.xml
  app/src/main/res/drawable/ic_rotate_left_white_24dp.xml
  app/src/main/res/drawable/ic_rotate_right_white_24dp.xml
  app/src/main/res/layout/activity_full_screen_image_rotate.xml
Labels: editing

#2513 Fix #1973 with more robust code to display the number of products
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/HomeFragment.java
Labels: home

#2517 added toasts when user changes language and country
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
Labels: settings

#2566 Don't set product URL edit field hint twice
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java
Labels: editing, pixel-perfect-app

#2567 2551: Crash when scanning on android 4.2
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductFragment.java
Labels: scanning

#2560 Added styles to some of the buttons in edit section to maintain consistency in app
  app/src/main/res/layout/dialog_calculate_calories.xml
  app/src/main/res/layout/fragment_add_product_ingredients.xml
  app/src/main/res/layout/fragment_add_product_nutrition_facts.xml
  app/src/main/res/layout/fragment_add_product_overview.xml
Labels: pixel-perfect-app
