Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2020-04, with the labels that each got.

#3007 Fix #2975 ask logged in users to rate the app
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/PrefManager.java
  app/src/main/res/values/strings.xml
Labels: feedback

#3054 Updated gradle android tools to 3.6.2
  build.gradle
Labels: build

#3004 Fix #2992 - Allow sorting of lists
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/YourListedProducts.java
  app/src/main/res/menu/menu_your_listed_products.xml
Labels: lists

#2728 added documentation for network package
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductIngredientsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductPhotosFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AdditiveFragmentHelper.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AllergensAlertFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/BaseFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ContributorsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/FindProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/HomeFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ProductPhotosFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/CommonApiManager.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/WikidataApiClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/deserializers/CategoriesWrapperDeserializer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/deserializers/CountriesWrapperDeserializer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/deserializers/DeserializerHelper.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/deserializers/LabelsWrapperDeserializer.java
Labels: documentation

#3074 Unit tests for utils classes
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/NumberParserUtils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/ProductUtils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/RealPathUtil.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/UnitUtils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/FileHelperForTests.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/ProductUtilsTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/QuantityParserTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/UnitUtilTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/UtilsTest.java
Labels: tests
