Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2020-05, with the labels that each got.

#2987 Closes #2977: Tweaked the CommonBottomListener
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/listeners/CommonBottomListener.java
Labels: navigation

#3082 Added icons to fragment summary product.
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AdditiveFragmentHelper.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/AdditiveName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/drawable/ic_award.xml
  app/src/main/res/drawable/ic_label.xml
  app/src/main/res/drawable/ic_map.xml
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values/strings.xml
Labels: pixel perfect app, product browsing

#3089 #3086 sort nutrients collator
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Stringi18nUtils.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/Stringi18nUtilsTest.java
Labels: editing

#3093 Butter to binding pt.3
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoginActivity.java
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/fragment_add_product_nutrition_facts.xml
Labels: refactoring

#3113 Serving size input more accessible
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashActivity.java
  app/src/main/res/layout/fragment_add_product_nutrition_facts.xml
Labels: editing

#3179 Use the new Robotoff Questions auth mechanism
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/RobotoffAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ProductRepository.java
Labels: questions

#3164 Butter to binding pt.5
  README.md
  app/build.gradle
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductIngredientsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductPhotosFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/BaseFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ContributorsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/FindProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/HomeFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ProductPhotosFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/AddProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/AdditivesExplorer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/BaseActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ImagesSelectionActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoginActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductComparisonActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductImageManagementActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductListsActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/activity/CategoryActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/environment/EnvironmentProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients_analysis/IngredientsAnalysisProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/layout/activity_add_product.xml
  app/src/main/res/layout/activity_additives_explorer.xml
  app/src/main/res/layout/activity_category.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_product.xml
  app/src/main/res/layout/activity_product_comparison.xml
  app/src/main/res/layout/activity_product_lists.xml
  app/src/main/res/layout/fragment_add_product_photos.xml
  app/src/main/res/layout/fragment_contributors.xml
  app/src/main/res/layout/fragment_environment_product.xml
  app/src/main/res/layout/fragment_find_product.xml
  app/src/main/res/layout/fragment_ingredients_analysis_product.xml
  app/src/main/res/layout/fragment_offline_edit.xml
Labels: refactoring

#3195 add localized images for the screenshot automation
  app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/test/ScreenshotParametersProvider.java
  app/src/off/res/mipmap-de/example_screenshot_scan.png
  app/src/off/res/mipmap-es/example_screenshot_scan.png
  app/src/off/res/mipmap-fr/example_screenshot_scan.png
  app/src/off/res/mipmap-kr/example_screenshot_scan.png
  app/src/off/res/mipmap-pt-rBR/example_screenshot_scan.jpg
  app/src/opf/res/mipmap-en/example_screenshot_scan.jpg
  app/src/opff/res/mipmap-en/example_screenshot_scan.jpg
Labels: screenshot-generation
