Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2020-02, with the labels that each got.

#3002 fix#3001 error messages are shown using built-in methods
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/FindProductFragment.java
Labels: search, search by barcode

#3009 Use translations for ingredient analysis modal ( #3006 )
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/AnalysisTagConfig.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/AnalysisTagConfigResponse.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ProductRepository.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients_analysis/IngredientsWithTagDialogFragment.java
Labels: ingredients

#3000 fixes#2999 - Added first timer introduction
  app/build.gradle
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductImageManagementActivity.java
  app/src/main/res/values/strings.xml
Labels: onboarding, screenshot-required

#3028 Fix #3026
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java
Labels: ingredient analysis

#3018 Ignore additional fields in Robotoff random question endpoint
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Question.java
Labels: questions
