Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2020-03, with the labels that each got.

#3010 added alcohol warning for products with category en:alcoholic-beverages
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/CategoryProductHelper.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/drawable/ic_alert_alcoholic_beverage.xml
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values/strings.xml
Labels: category-specific behaviour, product browsing

#3031 Add a button on new product card
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java
  app/src/main/res/layout/activity_continuous_scan.xml
Labels: product addition

#3005 Fixes #2676: Disable autocomplete in field "product name"
  app/src/main/res/layout/fragment_add_product_overview.xml
Labels: editing, product addition

#3025 Refactored the redundant setup of the bottom navigation
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AllergensAlertFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/FindProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/HomeFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/OfflineEditFragment.java
Labels: navigation, refactoring
