Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2020-10, with the labels that each got.

#3538 Fixes #3537: Add "Update image" button
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values/strings.xml
Labels: product browsing

#3544 Fix images not loading on android 7
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductIngredientsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ImageZoomActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ImagesManagementActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ImagesSelectionActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/HistoryListAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/ImagesAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/ProductComparisonAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/ProductImagesSelectionAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/ProductsRecyclerViewAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients_analysis/IngredientsWithTagDialogFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/IngredientAnalysisTagsAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/scan/ContinuousScanActivity.java
Labels: Android 7

#3541 Fix ssl handshake issues on android 7
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/ProductsRecyclerViewAdapter.java
Labels: Android 7

#3549 Remove distributionSha256Sum from gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: gradle

#3558 Bugfix: Fix format issue crash
  app/src/obf/res/values-b+sr+Cyrl/strings.xml
  app/src/obf/res/values-b+sr+Latn/strings.xml
  app/src/obf/res/values-en/strings.xml
  app/src/obf/res/values-pt/strings.xml
  app/src/obf/res/values-sr-rME/strings.xml
  app/src/obf/res/values-sr-rRS/strings.xml
Labels: home

#3562 Fix crash caused by ISE on the 3 screens
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/ingredients/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.java
Labels: IngredientsProductFragment, home, scanning
