Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2020-07, with the labels that each got.

#3323 Open Beauty Facts Crowdsourcing asset
  app/src/obf/res/drawable/ic_crowdsourcing_icon.xml
Labels: Open Beauty Facts

#3344 fix/3293
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ProductPhotosFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/images/ImageNameJsonParser.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/services/ProductsAPI.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ImagesSelectionActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/ProductImagesSelectionAdapter.java
Labels: needs testing

#3343 Fix/3332: fields not updated on product editing
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/ApiFields.java
Labels: needs testing

#3350 Co2 dark mode compat
  app/src/main/res/drawable/ic_co2_high_24dp.xml
  app/src/main/res/drawable/ic_co2_low_24dp.xml
  app/src/main/res/drawable/ic_co2_medium_24dp.xml
Labels: dark-mode, product browsing

#3335 Framefile.json
  fastlane/Framefile.json
Labels: fastlane, screenshot-generation

#3355 Add a vector asset for additives icon
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/res/drawable-night/ic_additives.xml
  app/src/main/res/drawable/ic_additives.xml
Labels: assets, graphic assets
