Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2020-06, with the labels that each got.

#3204 Screenshots improvements
  app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/test/ScreenshotParametersProvider.java
  app/src/off/res/mipmap-da/example_screenshot_scan.png
  app/src/off/res/mipmap-de-rCH/example_screenshot_scan.jpg
  app/src/off/res/mipmap-es-rMX/example_screenshot_scan.jpg
  app/src/off/res/mipmap-he/example_screenshot_scan.png
  app/src/off/res/mipmap-it/example_screenshot_scan.png
  app/src/off/res/mipmap-ja/example_screenshot_scan.png
  app/src/off/res/mipmap-pl/example_screenshot_scan.png
  app/src/off/res/mipmap-ru/example_screenshot_scan.png
Labels: screenshot-generation

#3210 Change Default list names for OPFF, OBF and OPF
  app/src/obf/res/values/strings.xml
  app/src/opf/res/values/strings.xml
  app/src/opff/res/values/strings.xml
Labels: Open Beauty Facts, Open Pet Food Facts, Open Products Facts

#3215 Small fixes in documentation wording
  app/src/main/java/openfoodfacts/github/scrachx/openfood/images/ImageTransformationUtils.java
Labels: documentation

#3126 Added modifier spinner in nutrients editing. Fixes API.
  app/src/androidTest/java/openfoodfacts/github/scrachx/openfood/models/OfflineSavedProductTest.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductIngredientsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsData.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/FindProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/NutrimentListItem.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Nutriments.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/OfflineSavedProduct.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Units.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/ApiFields.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/services/OpenFoodAPIService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/CustomValidatingEditTextView.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/EditTextUtils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Modifier.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/OfflineProductService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/ProductUtils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/QuantityParserUtil.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/UnitUtils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/AddProductActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/PrefManager.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/YourListedProductsActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/HistoryListAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/NutrimentsGridAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/ProductComparisonAdapter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/CalculateDetails.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/nutrition/NutritionProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/res/layout/fragment_add_product_nutrition_facts.xml
  app/src/main/res/layout/nutrition_facts_table_row.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values/attrs.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/NutrimentsTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/QuantityParserTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/UnitUtilTest.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/UtilsTest.java
  build.gradle
  gradle.properties
Labels: P1, editing, nutrition facts

#3221 fix: made robotoff annotation auth not crash
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ProductRepository.java
Labels: questions

#3213 Change image in Barcode search for Open Beauty Facts
  app/src/obf/res/drawable/img_scan.png
Labels: Open Beauty Facts

#3219 Fixes #3058 : Make the requests faster and less network intensive by using the ?fields= parameter
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/services/OpenFoodAPIService.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIServiceTest.java
Labels: network

#3228 Little fixes for dark mode implementation
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/FindProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/SearchSuggestionProvider.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/AdditivesExplorer.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/HistoryScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/activity/CategoryActivity.java
  app/src/main/res/layout/activity_additives_explorer.xml
  app/src/main/res/layout/activity_category.xml
  app/src/main/res/layout/activity_continuous_scan.xml
  app/src/main/res/layout/activity_history_scan.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_splash.xml
  app/src/main/res/layout/fragment_add_product_ingredients.xml
  app/src/main/res/layout/fragment_find_product.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_offline_edit.xml
  app/src/main/res/layout/loading.xml
  app/src/main/res/layout/toast_upload_success.xml
  app/src/main/res/values/refs.xml
  app/src/main/res/values/styles.xml
Labels: dark-mode

#3225 fix: changed product comment depending on flavor
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/OfflineProductService.java
  app/src/test/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIServiceTest.java
Labels: Open Beauty Facts, Open Pet Food Facts, Open Products Facts, editing

#3235 fix: use kcal given from the server
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Nutriments.java
Labels: P1, editing

#3223 design: updated icons for obf and off
  app/src/main/AndroidManifest.xml
  app/src/obf/ic_launcher-playstore.png
  app/src/obf/res/drawable/ic_launcher_foreground.xml
  app/src/obf/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/obf/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/obf/res/mipmap-hdpi/ic_launcher.png
  app/src/obf/res/mipmap-hdpi/ic_launcher_round.png
  app/src/obf/res/mipmap-mdpi/ic_launcher.png
  app/src/obf/res/mipmap-mdpi/ic_launcher_round.png
  app/src/obf/res/mipmap-xhdpi/ic_launcher.png
  app/src/obf/res/mipmap-xhdpi/ic_launcher_round.png
  app/src/obf/res/mipmap-xxhdpi/ic_launcher.png
  app/src/obf/res/mipmap-xxhdpi/ic_launcher_round.png
  app/src/obf/res/mipmap-xxxhdpi/ic_launcher.png
  app/src/obf/res/mipmap-xxxhdpi/ic_launcher_round.png
  app/src/obf/res/values/ic_launcher_background.xml
  app/src/off/ic_launcher-playstore.png
  app/src/off/res/drawable/ic_launcher_foreground.xml
  app/src/off/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/off/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/off/res/mipmap-hdpi/ic_launcher.png
  app/src/off/res/mipmap-hdpi/ic_launcher_round.png
  app/src/off/res/mipmap-mdpi/ic_launcher.png
  app/src/off/res/mipmap-mdpi/ic_launcher_round.png
  app/src/off/res/mipmap-xhdpi/ic_launcher.png
  app/src/off/res/mipmap-xhdpi/ic_launcher_round.png
  app/src/off/res/mipmap-xxhdpi/ic_launcher.png
  app/src/off/res/mipmap-xxhdpi/ic_launcher_round.png
  app/src/off/res/mipmap-xxxhdpi/ic_launcher.png
  app/src/off/res/mipmap-xxxhdpi/ic_launcher_round.png
  app/src/off/res/values/ic_launcher_background.xml
Labels: Open Beauty Facts, icons

#3191 Converted to gradle kotlin dsl build.
  app/build.gradle
  app/build.gradle.kts
  build.gradle
  build.gradle.kts
  settings.gradle
  settings.gradle.kts
Labels: build, gradle, kotlin

#3251 fix: set fragment from code in CategoryActivity
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/category/activity/CategoryActivity.java
  app/src/main/res/layout/activity_category.xml
Labels: categories explorer

#2730 Documentation fragment
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductIngredientsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AllergensAlertFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/HomeFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/CommonApiManager.java
Labels: documentation, merge conflicts

#3214 OBF and OPFF ingredient analysis support
  app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/PreferencesFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/AnalysisTagConfig.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/IProductRepository.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ProductRepository.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/Taxonomy.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/DaoUtils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/InstallationUtils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/LoadTaxonomiesService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductPresenter.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashPresenter.java
  app/src/main/res/layout/fragment_summary_product.xml
Labels: Open Beauty Facts, Open Pet Food Facts, ingredient analysis

#2862 [Closes #273] Added the ability to open product pages by URL
  .github/workflows/android-master.yml
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/ProductUtils.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductActivity.java
  app/src/obf/res/values/strings.xml
  app/src/off/res/values/strings.xml
  app/src/opf/res/values/strings.xml
  app/src/opff/res/values/strings.xml
Labels: P1, merge conflicts

#3258 Sentry crash reporting
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/AnalyticsService.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/OFFApplication.java
  build.gradle.kts
  sentry.properties
Labels: crash

#3283 better fastlane compat.
  app/src/obfScreenshots/res/mipmap-en/example_screenshot_scan.jpg
  app/src/opfScreenshots/res/mipmap-en/example_screenshot_scan.jpg
  app/src/opfScreenshots/res/mipmap/example_screenshot_scan.jpg
  app/src/opffScreenshots/res/mipmap-en/example_screenshot_scan.jpg
  app/src/opffScreenshots/res/mipmap/example_screenshot_scan.jpg
  app/src/screenshots/res/mipmap-da/example_screenshot_scan.png
  app/src/screenshots/res/mipmap-de-rCH/example_screenshot_scan.jpg
  app/src/screenshots/res/mipmap-de/example_screenshot_scan.png
  app/src/screenshots/res/mipmap-en/example_screenshot_scan.jpg
  app/src/screenshots/res/mipmap-es-rMX/example_screenshot_scan.jpg
  app/src/screenshots/res/mipmap-es/example_screenshot_scan.png
  app/src/screenshots/res/mipmap-fr/example_screenshot_scan.png
  app/src/screenshots/res/mipmap-he/example_screenshot_scan.png
  app/src/screenshots/res/mipmap-it/example_screenshot_scan.png
  app/src/screenshots/res/mipmap-ja/example_screenshot_scan.png
  app/src/screenshots/res/mipmap-kr/example_screenshot_scan.png
  app/src/screenshots/res/mipmap-pl/example_screenshot_scan.png
  app/src/screenshots/res/mipmap-pt-rBR/example_screenshot_scan.jpg
  app/src/screenshots/res/mipmap-ru/example_screenshot_scan.png
Labels: screenshot-generation

#3297 Automatic release
  .gitignore
  Gemfile
  Gemfile.lock
  README.md
  fastlane/Appfile
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/README.md
  fastlane/actions/google_play_track_version_name.rb
  fastlane/utils.rb
Labels: fastlane
