Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2020-11, with the labels that each got.

#3569 feature: ecoscore implementation and display
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/summary/SummaryProductFragment.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/ApiFields.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
  app/src/main/res/drawable/ic_ecoscore_a.xml
  app/src/main/res/drawable/ic_ecoscore_b.xml
  app/src/main/res/drawable/ic_ecoscore_c.xml
  app/src/main/res/drawable/ic_ecoscore_d.xml
  app/src/main/res/drawable/ic_ecoscore_e.xml
  app/src/main/res/layout/activity_continuous_scan.xml
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values/strings.xml
Labels: ecoscore

#3592 update fastlane
  Gemfile.lock
Labels: ci, fastlane

#3605 Add day/night mode switch in settings
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/PreferencesFragment.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Labels: dark-mode, settings

#3607 Feature/daily sentry finalize
  fastlane/Fastfile
Labels: fastlane, sentry
