Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2020-08, with the labels that each got.

#3348 Fixes #3341 Add Nutri-Score in products to be completed
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/ApiFields.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java
Labels: nutriscore, products to be completed

#3387 Fixes #3023 - Display ambiguous ingredients
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients_analysis/IngredientsWithTagDialogFragment.java
  app/src/main/res/values/strings.xml
Labels: ingredient analysis

#3403 Feat : #2963 - Add onboarding tooltip on first use for image editing
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/TipBox.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java
  app/src/main/res/layout/fragment_ingredients_product.xml
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/layout/tip_box.xml
  app/src/main/res/values/attrs.xml
  app/src/main/res/values/strings.xml
Labels: onboarding

#2727 documentation for category package
  app/src/main/java/openfoodfacts/github/scrachx/openfood/category/CategoryRepository.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/category/mapper/CategoryMapper.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/category/model/Category.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/category/network/CategoryResponse.java
Labels: documentation
