Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2021-01, with the labels that each got.

#3645 Migrate Crowdin sync to GitHub actions
  .github/workflows/crowdin.yml
  crowdin.yml
Labels: i18n, translations

#3669 Rename Server attribute and Fixed layout
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/ProductViewActivity.kt
  app/src/main/res/layout/fragment_server_attributes.xml
  app/src/main/res/values/strings.xml
Labels: attributes

#3664 added helper msg for login in flavour except OFF
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/LoginActivity.kt
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/values/strings.xml
Labels: Open Beauty Facts, Open Pet Food Facts, Open Products Facts, login

#3722 Fixed btnAlignment issue in Additive cards
  app/src/main/res/layout/fragment_product_attribute_details.xml
Labels: additives, product browsing

#3726 Fixed Skip and Next hiding behind Virtual Buttons
  app/src/main/res/layout/activity_welcome.xml
Labels: onboarding

#3644 adds prompt for missing info related to Eco-Score (solves issue 3624)
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/summary/SummaryProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/shared/views/TipBox.kt
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/layout/tip_box.xml
  app/src/main/res/values-en/strings.xml
  app/src/main/res/values/strings.xml
Labels: road to scores

#3758 Feat packing values on environment tab
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/environment/EnvironmentProductFragment.kt
  app/src/main/res/layout/fragment_environment_product.xml
  app/src/main/res/values/strings.xml
Labels: packaging

#3759 Show lists the product belongs to on the product page
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/summary/SummaryProductFragment.kt
  app/src/main/res/layout/fragment_summary_product.xml
  app/src/main/res/values-night/styles.xml
  app/src/main/res/values-v21/styles.xml
  app/src/main/res/values/styles.xml
Labels: lists, product browsing

#3766 Fixed Permission bug
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.kt
Labels: permissions

#3770 Resolved layout issues for additive cards
  app/src/main/res/layout/exposure_eval_table.xml
Labels: additives

#3784 Removed Packager Code ToolTip
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/overview/ProductEditOverviewFragment.kt
  app/src/main/res/layout/fragment_add_product_overview.xml
  app/src/main/res/values/strings.xml
Labels: editing

#3768 Fixed ISE when fragment is not attached to activity
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/ingredients/IngredientsProductFragment.kt
Labels: ISE

#3783 feat: color states tags
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/contributors/ContributorsFragment.kt
  app/src/main/res/layout/fragment_contributors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles_editing.xml
Labels: contributor-tab

#3792 Made tools for URL field clearer
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/overview/ProductEditOverviewFragment.kt
  app/src/main/res/layout/fragment_add_product_overview.xml
  app/src/main/res/values/strings.xml
Labels: editing

#3794 List export fixed
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/productlist/ProductListActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scanhistory/ScanHistoryActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/FileUtils.kt
Labels: lists

#3785 feat: stores autosuggest added
  app/build.gradle.kts
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/overview/ProductEditOverviewFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/splash/SplashController.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/jobs/LoadTaxonomiesWorker.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/entities/store/Store.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/entities/store/StoreName.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/entities/store/StoreResponse.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/entities/store/StoresWrapper.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/entities/store/StoresWrapperDeserializer.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/services/AnalysisDataAPI.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ProductRepository.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/Taxonomy.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/OFFDatabaseHelper.kt
Labels: editing, local database
