Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2021-09, with the labels that each got.

#4213 Fix occlusion and overlap on welcome pages
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/welcome/WelcomeActivity.kt
  app/src/main/res/layout/welcome_slide_1.xml
  app/src/main/res/layout/welcome_slide_2.xml
  app/src/main/res/layout/welcome_slide_3.xml
  app/src/main/res/layout/welcome_slide_intro.xml
  app/src/main/res/layout/welcome_slide_matomo.xml
  app/src/main/res/values/dimens.xml
Labels: onboarding, pixel perfect app

#4191 ref: product compare screen
  app/build.gradle.kts
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareViewModel.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ScanProductActivityContract.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/hilt/CoroutineModule.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/CoroutineDispatchers.kt
  app/src/test/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareViewModelTest.kt
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/CoroutineDispatchersTest.kt
Labels: refactoring, tests, comparison

#4227 Fix clicking on the ingredient analysis view
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/summary/SummaryProductFragment.kt
Labels: ingredient analysis, crash

#4237 Fix NPE in refreshProductCount on HomeFragment
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/HomeFragment.kt
Labels: home, NPE

#4215 Fix editing in allergens alert screen (closes #4133)
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/allergensalert/AllergensAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/allergensalert/AllergensAlertFragment.kt
Labels: allergens

#4256 doc: update libraries used
  README.md
Labels: documentation

#4236 feat: Add simple scan feature
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareViewModel.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ScanProductActivityContract.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/simplescan/SimpleScanActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/simplescan/SimpleScanActivityContract.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/simplescan/SimpleScanScannerOptions.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/simplescan/SimpleScanViewModel.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/hilt/AppModule.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/CameraState.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ScannerPreferencesRepository.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/PreferencesUtils.kt
  app/src/main/res/drawable/ic_baseline_camera_focus_off_24.xml
  app/src/main/res/drawable/ic_baseline_camera_focus_on_24.xml
  app/src/main/res/drawable/ic_baseline_flip_camera_android_24.xml
  app/src/main/res/layout/activity_product_comparison.xml
  app/src/main/res/layout/activity_simple_scan.xml
  app/src/main/res/values/strings.xml
  app/src/obf/res/values/strings.xml
  app/src/test/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareViewModelTest.kt
  app/src/test/java/openfoodfacts/github/scrachx/openfood/features/simplescan/SimpleScanViewModelTest.kt
Labels: scanning
