Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2021-04, with the labels that each got.

#3913 Fix analytics lint errors
  app/src/main/java/openfoodfacts/github/scrachx/openfood/analytics/MatomoAnalytics.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/analytics/SentryAnalytics.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/app/OFFApplication.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/LoginActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/MainActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/PreferencesFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/allergensalert/AllergensAlertFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/analyticsusage/AnalyticsUsageDialogFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/changelog/ChangelogDialog.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditIngredientsFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditNutritionFactsFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditOverviewFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/summary/SummaryProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/productlist/ProductListActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/productlists/ProductListsActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.kt
Labels: build

#3840 feat: Add history refreshing (fixes 3162)
  app/build.gradle.kts
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/productlist/ProductListActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scanhistory/ScanHistoryActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scanhistory/ScanHistoryAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scanhistory/ScanHistoryHolder.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scanhistory/ScanHistoryViewModel.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/HistoryProduct.java
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/HistoryProductExtensions.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/AutoUpdatableAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/DateExtensions.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/ProductExt.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/RxEx.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/RxLifecycleHandler.kt
  app/src/main/res/layout/activity_history_scan.xml
Labels: history

#3939 Fix for the bug: Bad clipping for questions #2525
  .github/workflows/android-feature.yml
  app/src/main/res/layout/dialog_product_question.xml
Labels: questions

#3929 Move shared preferences to hilt
  .idea/codeStyles/Project.xml
  app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/AbstractScreenshotTest.kt
  app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/TakeScreenshotIncompleteProductsTest.kt
  app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/TakeScreenshotMainActivityTest.kt
  app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/TakeScreenshotScanActivityTest.kt
  app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/TakeScreenshotShowProductsTest.kt
  app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/test/ScreenshotActivityTestRule.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/analytics/MatomoAnalytics.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/analytics/SentryAnalytics.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/FullScreenActivityOpener.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/HomeFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/ImagesManageActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/ImagesSelectActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/MainActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/PreferencesFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/adapters/ProductSearchAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/adapters/autocomplete/EmbCodeAutoCompleteAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/adapters/autocomplete/PeriodAfterOpeningAutoCompleteAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/additives/AdditiveListActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/allergensalert/AllergensAlertFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/analyticsusage/AnalyticsUsageDialogFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/changelog/ChangelogDialog.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/changelog/ChangelogService.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditIngredientsFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditNutritionFactsFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditOverviewFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditPhotosFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/ProductViewActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/ProductViewFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/attribute/ProductAttributeFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/contributors/ContributorsFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/environment/EnvironmentProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/ingredients/IngredientsProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/ingredients/IngredientsProductPresenter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/ingredients_analysis/IngredientsWithTagDialogFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/nutrition/NutritionProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/summary/IngredientAnalysisTagsAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/summary/SummaryProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/productlist/ProductListActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scanhistory/ScanHistoryViewModel.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/search/ProductSearchActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/shared/BaseActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/viewmodel/category/CategoryFragmentViewModel.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/welcome/WelcomeActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/hilt/AppModule.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/jobs/OfflineProductWorker.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/FileDownloader.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/LocaleHelper.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/PhotoReceiverHandler.kt
Labels: settings

#3956 fix: wrong packager-codes url in SummaryProductFragment
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/summary/SummaryProductFragment.kt
Labels: origins, product browsing
