Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2021-03, with the labels that each got.

#3871 additve visibility issue solved
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
Labels: Open Beauty Facts

#3869 FIX: Image selection from the image manager does not work anymore #3839 (View parameter made nullable)
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/ImagesManageActivity.kt
Labels: photo manager

#3870 FEAT: confirmation added when setting a photo from the photos tab
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/photos/ProductPhotosAdapter.kt
Labels: Product Photos tab

#3836 feat: Choice between classic and MLkit scanner with a system of dimensions to disable binary blobs for F-Droid
  app/build.gradle.kts
  app/src/fdroid/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
  app/src/fdroid/res/layout/activity_continuous_scan.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/AppFlavors.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/PreferencesFragment.kt
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/pref_keys.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/camera/CameraReticleAnimator.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/camera/CameraSizePair.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/camera/CameraSource.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/camera/CameraSourcePreview.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/camera/FrameMetadata.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/camera/FrameProcessor.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/camera/FrameProcessorBase.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/camera/GraphicOverlay.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/camera/WorkflowModel.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/scanner/BarcodeConfirmingGraphic.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/scanner/BarcodeGraphicBase.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/scanner/BarcodeProcessor.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/scanner/BarcodeReticleGraphic.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/utils/CameraUtils.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/utils/ScopedExecutor.kt
  app/src/playstore/res/layout/activity_continuous_scan.xml
  app/src/playstore/res/layout/camera_preview_overlay.xml
Labels: scanning

#3888 feat: matomo analytics
  app/build.gradle.kts
  app/src/fdroid/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/analytics/AnalyticsEvent.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/analytics/AnalyticsView.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/analytics/MatomoAnalytics.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/analytics/SentryAnalytics.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/app/AnalyticsService.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/app/OFFApplication.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/LoginActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/MainActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/PreferencesFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/allergensalert/AllergensAlertFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/analyticsusage/AnalyticsUsageDialogFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/changelog/ChangelogDialog.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditIngredientsFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditNutritionFactsFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditOverviewFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/summary/SummaryProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/productlist/ProductListActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/productlists/ProductListsActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.kt
  app/src/main/res/layout/fragment_add_product_overview.xml
  app/src/main/res/layout/fragment_analytics_usage_bottom_sheet.xml
  app/src/main/res/values/pref_keys.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Labels: analytics

#3900 Refactor MLKit camera functionality
  app/build.gradle.kts
  app/src/fdroid/java/openfoodfacts/github/scrachx/openfood/features/scan/MlKitCameraView.kt
  app/src/fdroid/res/layout/activity_continuous_scan.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/PreferencesFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/WorkflowState.kt
  app/src/main/res/layout/activity_continuous_scan.xml
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/camera/WorkflowModel.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/features/scan/MlKitCameraView.kt
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/scanner/BarcodeProcessor.kt
  app/src/playstore/res/layout/view_camera_source_preview.xml
Labels: scanning
