Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2021-02, with the labels that each got.

#3781 Fixed click on ADEME link
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/environment/EnvironmentProductFragment.kt
Labels: environment

#3747 Hided ecoscore in OBF scan
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
Labels: Open Beauty Facts, scanning

#3819 Hided NOVA in OBF Ingredients Tab
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/ingredients/IngredientsProductFragment.kt
Labels: Open Beauty Facts

#3790 fix: build test fails
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/ProductState.kt
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/entities/label/LabelsWrapperTest.kt
Labels: ci

#3793 Fixed WrapperTests
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/entities/additive/AdditivesWrapperTest.kt
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/entities/allergen/AllergensWrapperTest.kt
Labels: additives, allergens, ci, tests

#3799 Fixes list removal that was not working
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/productlists/ProductListsActivity.kt
  app/src/main/res/layout/activity_product_lists.xml
Labels: lists

#3727 Fixed layout issue on some attributes with long text
  app/src/main/res/layout/attribute_group_item.xml
Labels: attributes

#3821 Fix bug with spinner for vitamin_a in ProductEditNutritionFactsFragment
  app/src/main/java/openfoodfacts/github/scrachx/openfood/app/AnalyticsService.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditNutritionFactsFragment.kt
  app/src/main/res/layout/fragment_add_product_nutrition_facts.xml
Labels: editing

#3810 [2870] Add an in-app changelog
  app/src/main/assets/changelog/changelog-ru.json
  app/src/main/assets/changelog/changelog.json
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/MainActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/changelog/Changelog.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/changelog/ChangelogAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/changelog/ChangelogDialog.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/changelog/ChangelogListItem.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/changelog/ChangelogService.kt
  app/src/main/res/anim/push_bottom_in.xml
  app/src/main/res/anim/push_bottom_out.xml
  app/src/main/res/layout/fragment_changelog.xml
  app/src/main/res/layout/view_changelog_item.xml
  app/src/main/res/layout/view_changelog_item_header.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
Labels: changelog
