Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2021-08, with the labels that each got.

#4138 Will close #4137
  app/src/main/res/values-fr-rFR/strings.xml
Labels: translations

#4146 Fix AllergenTest
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/entities/allergen/AllergenTest.kt
Labels: allergens

#4147 Fix Compare button click
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareActivity.kt
Labels: comparison

#4142 [WIP] Automate the release of Open Beauty Facts and Open Pet Food Facts
  .github/workflows/android-release.yml
  fastlane/Fastfile
  fastlane/envfiles/OpenBeautyFactsProd.key.gpg
  fastlane/envfiles/decrypt_secrets.sh
Labels: Open Beauty Facts, Open Pet Food Facts, ci, github_actions

#4177 Fix product сomparison
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareViewModel.kt
Labels: comparison

#4171 fix: refactored measurements inner working.
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/adapters/CalculatedNutrimentsGridAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/adapters/NutrimentsGridAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/additives/AdditiveFragmentHelper.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ingredients/EditIngredientsFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ingredients/EditIngredientsViewModel.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/nutrition/ProductEditNutritionFactsFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/overview/EditOverviewFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/overview/EditOverviewViewModel.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/CalculateDetailsActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/CategoryProductHelper.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/attribute/ProductAttributeFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/contributors/ContributorsFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/environment/EnvironmentProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/ingredients/IngredientsProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/nutrition/NutritionProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/summary/SummaryProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scanhistory/ScanHistoryViewModel.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/shared/adapters/NutrientLevelListAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/shared/views/QuestionDialog.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/BoldNutrimentListItem.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/MeasurementUnit.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Modifier.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Nutriment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/NutrimentListItem.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Nutriments.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Product.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/ProductNutriments.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Units.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/TaxonomiesManager.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/DaoUtils.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/DateExtensions.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/EditTextUtils.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Modifier.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/OfflineProductService.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/ProductExt.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/QuantityParserUtil.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/UnitUtils.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.kt
  app/src/test/java/openfoodfacts/github/scrachx/openfood/models/ProductNutrimentsTest.kt
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/QuantityParserTest.kt
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/UnitUtilsTest.kt
  app/src/test/java/openfoodfacts/github/scrachx/openfood/utils/UtilsTest.kt
Labels: nutrition facts, editing

#4176 ref: merged semgrep and detekt in a workflow
  .github/workflows/code-analysis.yml
  .github/workflows/detekt-analysis.yml
  .github/workflows/semgrep-analysis.yml
  build.gradle.kts
Labels: linting, ci, github_actions

#4198 fix typo in French
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/obf/res/values-fr/strings.xml
  app/src/off/res/values-fr/strings.xml
  app/src/opf/res/values-fr/strings.xml
  app/src/opff/res/values-fr/strings.xml
Labels: translations, allergens, i18n

#4201 Fixes for DE spotted in linting of the Screengrab branch
  app/src/main/res/values-de-rDE/strings.xml
Labels: i18n

#4200 i18n: improvements to the guidance for translations
  app/src/main/res/values/strings.xml
Labels: i18n
