Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2022-04, with the labels that each got.

#4560 feat: The Activity now notifies when the drawer status has changed
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/MainActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/searchbycode/SearchByCodeFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/shared/NavigationWithDrawerBaseFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Activity.kt
Labels: MainActivity

#4524 feat: Automatically label issues
  .github/issue-labeler.yml
  .github/workflows/issue-label.yml
Labels: github

#4655 fix: Fix environment picture issues
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/environment/EnvironmentProductFragment.kt
Labels: environment

#4652 fix: Fix crash on SearchByCodeFragment
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/searchbycode/SearchByCodeFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/shared/NavigationWithDrawerBaseFragment.kt
Labels: NPE

#4656 refactor: extract CameraView interface
  app/src/fdroid/java/openfoodfacts/github/scrachx/openfood/features/scan/MLKitCameraView.kt
  app/src/fdroid/java/openfoodfacts/github/scrachx/openfood/features/scan/MlKitCameraView.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/CameraView.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/QuickViewCallback.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ZXCameraView.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/simplescan/SimpleScanActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/simplescan/SimpleScanViewModel.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ScannerPreferencesRepository.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/ScannerPreferencesExt.kt
  app/src/main/res/layout/activity_continuous_scan.xml
  app/src/main/res/layout/activity_simple_scan.xml
  app/src/main/res/layout/view_camera_zx_preview.xml
  app/src/playstore/java/openfoodfacts/github/scrachx/openfood/features/scan/MLKitCameraView.kt
  app/src/playstore/res/layout/view_camera_mlkit_preview.xml
  app/src/test/java/openfoodfacts/github/scrachx/openfood/features/simplescan/SimpleScanViewModelTest.kt
Labels: scanning

#4657 fix: When nutriscore is not (yet) computed, hide the "Learn more" button
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/nutrition/NutritionProductFragment.kt
Labels: bug, ux, nutriscore
