Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2022-03, with the labels that each got.

#4514 build: add name to release please workflow
  .github/workflows/release-please.yml
Labels: github

#4513 build: only build html docs if merged
  .github/workflows/android-integration.yml
Labels: github

#4520 refactor(hilt): convert util classes to hilt services
  app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/test/ScreenshotActivityTestRule.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/MainActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/images/manage/ImagesManageActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/images/select/ImagesSelectActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditPhotosFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ingredients/EditIngredientsFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/nutrition/ProductEditNutritionFactsFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/overview/EditOverviewFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/environment/EnvironmentProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/ingredients/IngredientsProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/nutrition/NutritionProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/summary/SummaryProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/welcome/WelcomeActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ProductRepository.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/InstallationService.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/IntentExt.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/PhotoReceiverHandler.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/PrefManager.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/PreferencesService.kt
Labels: refactoring

#4539 fix: Harcoded search category hint
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/categories/fragment/CategoryListFragment.kt
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values/strings.xml
Labels: translations, i18n

#4541 fix: Improvements for Search by text/code screen
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/searchbycode/SearchByCodeFragment.kt
  app/src/main/res/layout/fragment_find_product.xml
Labels: search, search by barcode

#4538 fix: Flash toggle should not be displayed when the quick view is visible
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/QuickViewCallback.kt
Labels: scanning

#4567 fix: Add background on tagline in home page
  app/src/main/res/layout/fragment_home.xml
Labels: home, tagline

#4574 fix: SearchView : ensure that the bottom navigation bar is hidden when the keyboard is visible and vice-versa
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/MainActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Activity.kt
Labels: navigation, keyboard

#4562 fix: History list: if the list is empty, menu items shouldn't be displayed
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scanhistory/ScanHistoryActivity.kt
Labels: history

#4554 fix: When syncing the history, deleted products/products not found should be skipped
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/ProductRepository.kt
Labels: history

#4551 fix: Vector drawables are not supported with drawableStart on Android < 5
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/productlists/ProductListsActivity.kt
  app/src/main/res/layout/activity_product_lists.xml
Labels: assets, graphic assets, Android 4.4

#4553 fix: Sorting history items should not be done in the main thread
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scanhistory/ScanHistoryViewModel.kt
Labels: history

#4561 fix: NPE on ProductSearchActivity
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/search/ProductSearchActivity.kt
Labels: NPE, additives explorer

#4576 feat: The current filter is now clearly visible in the history list
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scanhistory/ScanHistoryActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scanhistory/ScanHistoryViewModel.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/SortType.kt
Labels: history

#4586 ci: Ensure Labeler is not triggered on forks
  .github/workflows/label.yml
Labels: github

#4466 chore: Lists for labeler
  .github/labeler.yml
Labels: github

#4588 fix: Simple scan - detection never released
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/simplescan/SimpleScanActivity.kt
  app/src/main/res/layout/activity_simple_scan.xml
Labels: scanning

#4583 fix: "No nutrition facts" switch not working as intended
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/nutrition/ProductEditNutritionFactsFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/network/ApiFields.kt
Labels: nutrition editing

#4564 Fix: #4546 Fixed sign up and password background buttons
  app/src/main/res/layout/activity_login.xml
Labels: signup

#4603 feat: Scan tile (quick settings)
  app/src/main/AndroidManifest.xml
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/ScanTileService.kt
Labels: shortcuts

#4568 fix: overlapping icon in LoginActivity
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/login/LoginActivity.kt
  app/src/main/res/layout/activity_login.xml
Labels: login

#4609 fix: Camera not opened even if the permission is granted
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/environment/EnvironmentProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/shared/BaseFragment.kt
  app/src/main/res/layout/fragment_environment_product.xml
Labels: bug, permissions, environment

#4612 fix: Sentry bug #OPENFOODFACTS-ANDROID-5C0
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/images/manage/ImagesManageActivity.kt
Labels: NPE

#4617 chore(build): remove json-fluent
  app/build.gradle.kts
Labels: dependencies
