Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2022-02, with the labels that each got.

#4460 Fix history tab refreshing layout issue
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scanhistory/ScanHistoryActivity.kt
  app/src/main/res/layout/activity_history_scan.xml
Labels: Open Beauty Facts, Open Pet Food Facts, Open Products Facts

#4453 Labeler Improvements
  .github/labeler.yml
Labels: github

#4464 fix: robotoff should not make the app crash if unavailable
  app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories/RobotoffRepository.kt
Labels: questions
