Repository openfoodfacts/openfoodfacts-androidapp, pull requests merged in 2022-11, with the labels that each got.

#4651 feat: Monitor barcode scanning performance
  app/src/main/java/openfoodfacts/github/scrachx/openfood/analytics/AnalyticsEvent.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/analytics/AnalyticsTrackingEvent.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/simplescan/SimpleScanActivity.kt
  app/src/test/java/openfoodfacts/github/scrachx/openfood/features/simplescan/SimpleScanViewModelTest.kt
Labels: scanning, barcode

#4874 feat: use system PowerManager API to query for low battery status
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/compare/ProductCompareAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/environment/EnvironmentProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/ingredients/IngredientsProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/nutrition/NutritionProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/summary/SummaryProductFragment.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/productlist/ProductListAdapter.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scanhistory/ScanHistoryActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/features/search/ProductSearchActivity.kt
  app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Context.kt
Labels: lists

#4876 chore: upgrade JAVA_VERSION to 17 in GitHub workflows
  .github/workflows/android-integration.yml
  .github/workflows/android-release.yml
Labels: github
